<footer>
	<div id="footer-left">
		<a href="mailto:giovannispada17.gs@tutanota.com"><i class="fa-lg fa fa-envelope footer-icon" aria-hidden="true"></i></a>
		<a href="https://github.com/Giovo17"><i class="fa-lg fab fa-github footer-icon" aria-hidden="true"></i></a>
		<a href="https://www.linkedin.com/in/giovanni-spadaro-75b916155/"><i class="fa-lg fab fa-linkedin-in footer-icon" aria-hidden="true"></i></a>
		<br>
		<br>
		&copy; <time datetime="{{ site.time | date: "%B %-d, %Y" }}">{{ site.time | date: '%Y' }}</time> Giovanni Spadaro
	</div>
	<div id="footer-right">
		Giovanni Spadaro is a master student in Data Science at University of Catania.
	</div>
</footer>
